/* Activity panel and button */

.activities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
  
.activities .activity-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-2);
    color: var(--foreground);
    padding: 2px 3px;
}
  
.activity-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.activity-overview .activity-desc {
    text-align: left;
}

.activity-overview .activity-rank {
    text-align: right;
    margin-right: 10px;
}

.activities .activity-button:hover, .activities .activity-selected {
    background-color: var(--second-background-1);
}

.activities .activities-list {
    display: flex;
    flex-direction: column;
}

.activities .activity-button label {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--foreground);
    cursor: pointer;
}

.activities .activity-button span {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: var(--foreground);
}
