.tooltip {
    position: absolute;
    background-color: beige;
    z-index: 1;
    height: auto;
    max-width: 200px;
    padding: 2px;
    border-radius: 3px;
    outline: 1px solid black;
    font-size: 12px;
}

.tooltip-hidden {
    display: none;
}