@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./css/progress-bars.css);
@import url(./css/activities.css);
@import url(./css/zones.css);
@import url(./css/messages-panel.css);
@import url(./css/market.css);
@import url(./css/coins.css);
@import url(./css/cultivation.css);

:root {
  /* for background elements or dividers, to give
  a light, ethereal feel*/
  --background: #F5F5F5;

  /* for main text to keep it readable but grounded */
  --foreground: #2E2E2E;

  /* for mystical elements, such as character stats, 
  buttons, or accents */
  --jade_green: #4B8E8D;

  /* for martial elements, simbols of strength, 
  actions, powerful moves */
  --light_crimson: #c20000;

  /* hover for light_crimson elements */
  --deep_crimson: #8B0000;
  
  /* for wood or earthy aspects, perhaps message
  log or borders */
  --burnt_umber: #8A4E2F;

  /* hover for burnt_umber elements */
  --dark_umber: #AA4E2F;

  /* for rewards, highlights, special actions,
  simbolizing enlightenment */
  --golden_yellow: #FFD700;

  /* hover for golden_yellow elements */
  --dark_yellow: #bda400;

  /* for magical effects, energy displays, and otherwordly
  elements */
  --mystic_violet: #5D3FD3;
  
  /* for headings or any special phrases, giving 
  an ancient scroll or parchment feel */
  --ivory_white: #FFFFF0;

  /* health bass css for fights */
  --health-bar: red;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2E2E2E;
    --foreground: #F5F5F5;
  }
}

/* Responsive Design */

@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(6, 1fr);
  }
  .col-8 { grid-column: span 6; } 
  .col-7 { grid-column: span 6; }
  .col-6 { grid-column: span 6; } 
  .col-3 { grid-column: span 6; } 
  .col-4 { grid-column: span 6; } 
  .col-2 { grid-column: span 6; } 
  .col-1 { grid-column: span 6; } 
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: 1fr;
  }
  .col-7, .col-6, .col-3, .col-4, .col-2, .col-1 {
    grid-column: span 1;
  }
}

/* Responsive Design */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 95%;
  max-width: 1200px;
  margin: 2px auto;
  padding: 2px 0;
  border: 1px solid var(--burnt_umber);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2px; /* Adjusts the spacing between columns */
  margin-bottom: 2px;
}

.panel-middle, .panel-left, .panel-right {
  padding: 4px;
  margin-bottom: 2px;
}

.panel-right {
  display: 'flow';
  overflow: hidden
}

/* Column Width Classes */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-12 { grid-column: span 12; }

/* item style with dashed border */

.item-style {
  border-width: 1px;
  border-color: var(--jade_green);
  border-style: dashed;
  margin-bottom: 5px;
  padding: 2px 3px;
}

/* Navigation bar and button */

.navigation-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--burnt_umber);
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s ease;
  border: 1px solid var(--background);
  font-size: 0.9rem;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.navigation-button, .navigation-button-selected {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 4px 5px;
  color: var(--ivory_white);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.navigation-button:hover {
  background-color: var(--dark_umber);
}

.navigation-button-selected {
  background-color: var(--dark_umber);
  border: 1px solid var(--golden_yellow);
}

.navigation-button::before {
  top: 35px;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #0a01303f;
  border-radius: 5px;
  opacity: 0;
}

.navigation-button:focus::before,
.navigation-button:active::before {
  opacity: 1;
}


